# Postgres SQL
POSTGRES_USER=
POSTGRES_PASSWORD=
DB_HOST="localhost"
DB_PORT=5432
AUTH_DB_NAME=
RECIPE_DB_NAME=
POSTGRES_DB="postgres-db"

# PG Admin
PGADMIN_EMAIL=
PGADMIN_PASSWORD=

# Redis
REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_PASSWORD=

# Mongo
MONGO_USER=
MONGO_PASSWORD=
# Mongo Express
MONGO_EXPRESS_USER=
MONGO_EXPRESS_PASSWORD=

# RabbitMQ
RABBITMQ_HOST="localhost"
RABBITMQ_PORT=5672
RABBITMQ_USER=
RABBITMQ_PASSWORD=

# Gemini AI Key
GEMINI_API_KEY=
GEMINI_IMAGE_MODEL=

# JWT
JWT_SECRET="
MAX_SIGNATURE_AGE_SECONDS=3600

# Client IDs
ANDROID_APP_ID=
ANDROID_APP_SECRET=

IOS_APP_ID=
IOS_APP_SECRET=

WEB_APP_ID=
WEB_APP_SECRET=

DESKTOP_APP_ID=
DESKTOP_APP_SECRET=

MACOS_APP_ID=
MACOS_APP_SECRET=

# GOOGLE/Firebase
FIREBASE_SERVICE_ACCOUNT_JSON=
FIREBASE_STORAGE_BUCKET=
FIREBASE_STORAGE_FOLDER=
